@charset "utf-8";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100%;
}

body {
    height: 100vh;
    background-color: #212529;
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif, system-ui,system-ui, 'Roboto';

}

h2 {
    margin-left: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar h2 {
    color: #ffb742;
    font-weight: 600;
}

.navbar ul {
    display: flex;
    margin-left: 20px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 50px;
    transition: color 0.3s ease-in-out;
    align-items: center;
}

.navbar ul li:hover a {
    color: #ffb742
}

.navbar ul li:last-child a {
    margin: 0;
}

.btn {
    background-color: #ffb742;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
    margin-right: 85px;
}

.btn:hover {
    background-color: #ffb74270;
}
h3 {
    font-size: 20px;
    color: #ccc;
}

h6 {
    color: #1c1c1c;
    font-size: 24px;
}
.main {
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main p.title {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px ;
}

.main p.subtitle {
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
}

.main img {
    width: 400px;
    height: 300px;
    margin-top: 50px;
}

.gurantee {
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.gurantee .item {
    background: #292b2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width:100%;
    border-radius: 10px;
    padding: 0 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.gurantee .item:hover {
    border-color: #ffb742;
}

.gurantee .item .icon {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.gurantee .item:hover .icon {
    background-color: #ffb742;
}

.gurantee .item .icon i {
    font-size: 30px;
}

.gurantee .item .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gurantee .item .info h3 {
    color: #ffb742;
    font-size: 27px;
}

.gurantee .item .info p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.gurantee .item > i {
    color: #fff;
    font-size: 30px;
    transition: color 0.3s ease-in-out;
}

.gurantee .item:hover > i {
    color: #ffb742;
}

.seperate {
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgb(255 255 255 / 0.08);
    display: inline-block;
    color: #ffb742;
    border-radius: 12px;
    font-size: 25px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 50px;
}

.about img {
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.about .info h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p {
    color: #ccc;
    font-size: 14px;
}

.about .info button {
    margin-top: 30px;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-left: 52px;
}

.skills .left {
    width: 682px;
}

.skills .left .info h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.skills .left .info p {
    color: #ccc;
    font-size: 15px;
}

.skills .left button {
    margin-top: 30px;
}

.skills .right {
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.skills .right .item  i {
    font-size: 32px;
    color: #fff;
}

footer {
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .start {
    display: flex;
    margin-left: 420px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: #ffb742;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: -15%;

}

footer .start p {
    font-size: 13px;
    width: 35%;
}

footer .start button{
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

footer .start button:hover {
    background-color: #fff;
    border-color: #fff;
}

footer .col {
    display: flex;
    align-items: start;
}

footer .col .about-col {
    flex: 3;
}

footer .col .about-col h3 {
    color: #ffb742;
    margin-bottom: 20px;
}

footer .col .about-col p {
    color: #ccc;
    font-size: 20px;
}

footer .col .links-col {
    flex: 3;
}

footer .col .links-col h4 {
    color: #fff;
    margin-bottom: 20px;
}

footer .col .links-col a {
    display: inline-block;
    justify-content: space-between;
    padding-inline: 10px;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 20px;
    line-height: 26px;
}

footer .col .links-col a:hover {
    color: #ffb742;
}

@media screen and (max-width: 1100px) {
    .gurantee {
        flex-wrap: wrap;
        gap: 10px;
    }
    .gurantee .item {
        flex-basis: 49%;
    }

    .skills {
        justify-content: space-around;
        gap: 20px;
    }
    .skills .left {
        width: 500px;
    }
    .skills .left .info h3 {
        font-size: 23px;
    }
    .skills .left .info p {
        font-size: 12px;
    }
    footer {
        margin-top: 150px;
    }
    footer .start {
        width: 90%;
        left: 5%;
        top: -20%;
    }
    footer .col {
        flex-wrap: wrap;
    }
    footer .col .about-col {
        flex-basis: 50%;
    }
    footer .col .links-col {
        flex-basis: 50%;
    }
}
@media screen and (max-width: 780px) {
    .navbar button {
        display: none;
    }
    .main h4 {
        font-size: 24px;
    }

    .main p.title {
        font-size: 36px;
    }

    .main p.subtitle {
        font-size: 13px;
    }
    .gurantee .item {
        flex-basis: 100%;
    }
    .about {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 630px) {
    .navbar {
        justify-content: center;
    }
    .navbar h2 {
        display: none;
    }
    .navbar ul li a {
        font-size: 14px;
    }
    .main {
        margin-top: 50px;
        height: 320px;
        justify-content: start;
    }
    .main h4 {
        font-size: 20px;
    }
    .main p.title {
        font-size: 20px;
    }
    .main p.subtitle {
        font-size: 11px;
    }
    .main img {
        margin-top: 40px;
        width: 150px;
        height: 150px;
    }
    .skills {
        flex-wrap: wrap;
        justify-content: center;
    }
    .skills .right {
        justify-content: space-between;
    }
    .skills .left .info h3{
        font-size: 20px;
    }

    footer .start {
        top: -8%;
        left: -80%;
    }
    footer .start p {
        display: none;
    }
    footer .col .about-col {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    footer .col .links-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 480px) {
    .gurantee .item .info h3 {
        font-size: 20px;
    }
    .gurantee .item .info p {
        font-size: 12px;
    }
    .main p.title {
        font-size: 18px;
    }
    .main p.subtitle {
        font-size: 10px;
    }
}
