@charset "utf-8";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100%;
}

body {
    height: 100vh;
    background-color: #212529;
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif, system-ui,system-ui, 'Roboto';

}

h2 {
    margin-left: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar h2 {
    color: #ffb742;
    font-weight: 600;
}

.navbar ul {
    display: flex;
    margin-left: 20px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 50px;
    transition: color 0.3s ease-in-out;
    align-items: center;
}

.navbar ul li:hover a {
    color: #ffb742
}

.navbar ul li:last-child a {
    margin: 0;
}

.btn {
    background-color: #ffb742;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
    margin-right: 85px;
}

.btn:hover {
    background-color: #ffb74270;
}
h3 {
    font-size: 20px;
    color: #ccc;
}
.main {
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main p.title {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px ;
}

.main p.subtitle {
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
}

.main img {
    width: 400px;
    height: 300px;
    margin-top: 50px;
}

.gurantee {
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.gurantee .item {
    background: #292b2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width:100%;
    border-radius: 10px;
    padding: 0 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.gurantee .item:hover {
    border-color: #ffb742;
}

.gurantee .item .icon {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.gurantee .item:hover .icon {
    background-color: #ffb742;
}

.gurantee .item .icon i {
    font-size: 30px;
}

.gurantee .item .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gurantee .item .info h3 {
    color: #ffb742;
    font-size: 27px;
}

.gurantee .item .info p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.gurantee .item > i {
    color: #fff;
    font-size: 30px;
    transition: color 0.3s ease-in-out;
}

.gurantee .item:hover > i {
    color: #ffb742;
}

.seperate {
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgb(255 255 255 / 0.08);
    display: inline-block;
    color: #ffb742;
    border-radius: 12px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 50px;
}

.about img {
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.about .info h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p {
    color: #ccc;
    font-size: 14px;
}

.about .info button {
    margin-top: 30px;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-left: 52px;
}

.skills .left {
    width: 682px;
}

.skills .left .info h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.skills .left .info p {
    color: #ccc;
    font-size: 15px;
}

.skills .left button {
    margin-top: 30px;
}

.skills .right {
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.skills .right .item  i {
    font-size: 32px;
    color: #fff;
}