@charset "utf-8";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100%;
}

body {
    height: 100vh;
    background-color: #212529;
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif, system-ui,system-ui, 'Roboto';

}

h2 {
    margin-left: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar h2 {
    color: #ffb742;
    font-weight: 600;
}

.navbar ul {
    display: flex;
    margin-left: 20px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 50px;
    transition: color 0.3s ease-in-out;
    align-items: center;
}

.navbar ul li:hover a {
    color: #ffb742
}

.navbar ul li:last-child a {
    margin: 0;
}

.btn {
    background-color: #ffb742;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
    margin-right: 85px;
}

.btn:hover {
    background-color: #ffb74270;
}
h3 {
    font-size: 20px;
    color: #ccc;
}
.main {
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main p.title {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px ;
}

.main p.subtitle {
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
}

.main img {
    width: 400px;
    height: 300px;
    margin-top: 50px;
}